@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*-----------------------------------------*/

:root {
    --cor01: #848f52;
    --cor02: #0f4158;
    --cor03: #dbeeaf;
    --cor04: snow;
    --cor05: #758186;
}

/*-----------------------------------------*/

html {
    background-image: url('../imagens/fundo.png');
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}

/*-----------------------------------------*/

body {
    background-color: var(--cor03);
    width: 80vw;
    margin: auto;
}

/*-----------------------------------------*/

/*header {
    background-color: yellow;
    
}*/

img.capa {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*------------------------------------------*/



nav ul {
    /*background-color: silver;*/
    margin-top: -4px; /*isso foi uma gambiarra*/
}
nav ul li {
    display: inline-block;
    padding: 15px;
    

    color: var(--cor02);
    font-weight: bolder;
}
nav a {
    text-decoration: none;
    color: var(--cor02);
}
nav li:hover {
    background-color: var(--cor05);
    color: var(--cor03);
}
/*nav a:hover {
    background-color: var(--cor02);
    color: var(--cor03);
    
}*/

/*-----------------------------------------*/

main {
    background-color: var(--cor04);
}
main h1 {
    padding: 20px 0px 20px 15px;
    color: var(--cor01);
}
main p {
    line-height: 25px;
    padding: 0px 15px 30px 15px;
}
.img {
    padding-left: 15px;
    padding-bottom: 20px;
    width: 70%;
    min-width: 430px;
    
    
}

/*------------------------------------------*/

address {
    padding: 0px 15px 30px 15px;
    font-style: normal;
}

/*------------------------------------------*/

footer {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bolder;
}

/*==========================================*/

@media (max-width: 722px){
    body {
        width: 88vw;
    }
    nav {
        /*background-color: yellow;*/
        color: var(--cor02);
        text-align: left;
    }

    nav li {
        
        font-size: 13px;
        margin-right: -10px;
    }
}

@media (max-width: 584px){
    body {
        width: 95vw;
    }
    nav {
        /*background-color: green;*/
        color: var(--cor02);
        text-align: center;
    
    }
    nav li {
        width: 92.6%;
        font-size: 14px;
        margin: 0px;

    }
    h1 {
        font-size: 27px;
    }
}