@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(rgb(63, 4, 73), rgb(100, 30, 59));
    width: 99vw;
    height: 83.7vh;
}

#login {
    width: 400px;
    height: 250px;
    margin: 170px auto;
    padding-top: 60px;
    border-radius: 10px;
    text-align: center;

    background-image: linear-gradient(#0200023f, #420b2242);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
}

#login img {
    
    width: 120px;
    height: 120px;
    margin-top: -120px;
    margin-bottom: 20px;
}

input {
    height: 40px;
    width: 70%;
    margin-bottom: 10px;
    padding-left: 40px;
    background-color: white;
    border: none;

    
}

#email {
    background-image: url('../imagens/icone-usuario.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 14px;
    border-radius: 3px;
}

#senha {
    background-image: url('../imagens/icone-cadeado.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 14px;
    border-radius: 3px;
}

#botao {
    width: 80%;
    padding-right: 40px;
    font-size: 1.3em;
    color: #3a0d2b8a;
    border-radius: 3px;
    background-color: #ac587b;
    cursor: pointer;
}

#botao:hover {
    color: #d6bace;
    background-color: #ac587b77;
}