@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --cor00: white;
    --cor01: rgb(184, 3, 3);
    --cor02: #9b0101;
}

body {
    
    background-color: #294C71;
    width: 99w;
    margin: auto;
    
}

/*-------------------------------------------------*/
/*--------------------CABEÇALHO--------------------*/
/*-------------------------------------------------*/

header {
    background-color: #f7f7b1;
    background-image: url(../imagens/fundo.png);
    background-position: center bottom;
    background-size: contain;

    height: 280px;
    width: 100%;
}
header > nav {
    width: 666px;
    padding-top: 20px;
    margin: auto;
}

img#logo {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}

img#mapa {
    width: 200px;
    margin-top: -190px;
    margin-left: 230px;
    position: relative; /*posicionamento do mapa*/
    top: 65px; /*posicionamento do mapa*/
    right: -115px; /*posicionamento do mapa*/
    z-index: 0; /*sobreposição - por trás*/
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
header ul {
    background-color: var(--cor01);
    position: absolute; /*posicionamento da lista*/
    z-index: 1; /*sobreposição - na frente*/
}
header li {
    display: inline;
    padding: 15px;
    line-height: 3em;
    color: var(--cor00);
}

header a {
    text-decoration: none;
}

header li:hover {
    color: var(--cor02);
}

body.home a#home li,
body.brasil a#brasil li,
body.internacional a#internacional li,
body.economia a#economia li,
body.saude a#saude li,
body.ciencias a#ciencias li,
body.fotos a#fotos li { /*aba do menu fica marcada na página atual*/
    
    color: #9b0101;
    background-color: #d61818;
    cursor: text;
}

/*-------------------------------------------------*/
/*---------------CONTEÚDO PRINCIPAL----------------*/
/*-------------------------------------------------*/

.conteudo {
    background-color: #58587e;
    width: 750px;
    margin: auto;
}

/*
o conteudo tem width: 750px

a soma do width de: 
main(270px)+.secundario(270px)+.lateral(180px)

é igual a 720px

o que sobra 30px pra usar de margens
*/   

.lateral { /*barra lateral*/
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

main { /*conteudo principal com página de tres colunas*/ 
   width: 270px;
   float: left;
   margin: 0 0 20px 195px;
}
main img, .secundario img {
    width: 100%;
}

#duas-colunas main { /*conteudo principal com página de duas colunas*/ 
    width: 555px;
}
#uma-coluna main { /*conteudo principal com página de uma coluna*/ 
    width: 750px;
    margin: 0 0 20px 0px;
 }

/*
as margens foram utilizadas para
mover e definir a posição de cada caixa
*/

.secundario { /*conteudo secundario*/
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}
.caixa { /*caixas dos conteúdos*/
    background: #f3f3f3 url('../imagens/fundo-caixa.png');
    margin: 10px 0px;
    padding: 5px;
}
.lista-noticias a {
    color: black;
}
h2 {
    font-size: 1.4em;
    background-color: #294c71;
    color: #fff;
    padding: 5px;
    margin: 5px;
}
h3 {
    font-size: 1em;
    background-color: var(--cor01);
    color: var(--cor00);
    margin-bottom: 10px;
    padding: 5px;
}
.caixa-conteudo {
    background-color: #fff;
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 0px;
}
nav.caixa-conteudo a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
nav.caixa-conteudo a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

form {
    background-color: white;
}
label {
    display: block;
    cursor: pointer;
    margin: 5px 5px;
}

input {
    font-size: 0.9em;
    padding: 5px;
    width: 146px;
    margin: 5px;
    background-color: #fff;
}
input.submit {
    width: 80px;
    color: #fff;
    background-color: var(--cor02);
    border: none;
    border-radius: 3px;
    padding-left: 5px;
    margin: 5px;
    cursor: pointer;
}
.lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
    
}
.lista-noticias img {
    width: 80px;
    float: left;
    margin: 5px;
}
.lista-noticias a {
    text-decoration: none;
}
.lista-noticias li:hover {
    background-color: #eee;
}
.lista-noticias h4 {
    font-size: 0.7em;
    padding-top: 5px;
    margin-bottom: 3px;
    color: #3e7ab9;
    text-transform: uppercase;
}
.lista-noticias p {
    font-size: 0.7em;
}
.brasil main h2 a {
    text-decoration: none;
    color: white;
}
footer {
    background-color: #294c71;
    color: #fff;
    clear: both;
    text-align: center;
    line-height: 2em;
    border-top: 2px solid #2d537c;
    padding: 20px 0;
}