@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    width: 85%;
    margin: auto;
    background-color: rgb(228, 225, 225);
}

header {
    height: 100px;
    background-color: rgb(129, 126, 126);
    text-align: center;
    line-height: 100px;
}

main {
    border: 2px solid red;
    width: 74%;
    float: right;
}
.principal {
    background-color: white;
    width: 60%;
    float: left;
}
.secundario {
    background-color: rgb(247, 224, 224);
    width: 35%;
    float: right;
}
nav {
    border: 2px solid green;
    width: 22%;
    float: left;
    padding: 20px 0px;
    background-color: honeydew;
}
ul {
    list-style: none;
}
nav a {
    text-decoration: none;
}
footer {
    clear: both;
    background-color: lightblue;
    padding: 5px;
}
