@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --cor00: white;
    --cor01: silver;
}
body {
    padding-top: 10px;
    width: 85%;
    margin: auto;
    background-color: var(--cor00);

    min-width: 640px;
}

header {
    background-image: url("../imagens/cabecalho2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 200px;
    background-color: rgb(129, 126, 126);
    text-align: center;
    line-height: 200px;
}

main {
    /*border: 2px solid red;*/
    width: 84%;
    float: right;
}
.principal {
    background-color: var(--cor00);
    box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.473);
    width: 62%;
    float: left;
}
section.principal img {
    width: 96%;
    padding: 10px 10px 10px 5px;
}
.secundario {
    background-color: var(--cor00);
    width: 37%;
    float: right;
}
nav {
    /*border: 2px solid green;*/background-color: var(--cor00);
    width: 15%;
    float: left;
    padding: 20px 0px;
    
}
ul {
    list-style: none;
}
nav a {
    text-decoration: none;
}
footer {
    clear: both;
    background-color: lightblue;
    padding: 5px;
}
